.cont{
background-color: brown;
}
.nav a{
    text-decoration: none;
    margin: 20px;
}
.butt1{
    padding: 20%;
}
.butt2{
 background-color: lightskyblue;
 color: aliceblue;
 border-radius: 10%;
}
.text{
    text-align: center;
}
.name{
display: flex;
gap: 30px;
}
.mail{
    display: flex;
    gap: 30px;
}
.code{
    display: flex;
    gap: 30px;
}
.message{
    padding:10px 50px 50px 50px;
    border-radius: 10px  10px 100px  10px;
}