.navs a{
    text-decoration: none;
    margin: 20px;
}
.butt1{
    padding: 20%;
}
.butt2{
 background-color: lightskyblue;
 color: aliceblue;
 border-radius: 10%;
}
.maldives{
 display: flex;
 margin-top: 5%;
 gap: 5px;
}
.mald{
    width: 450px;
}
.Entery{
margin-left: 30%;
border-radius: 15%;
}
.img2{
    width: 200%;
    height: 540px;
}
.img1{
    width: 30%;
    height: 175px;
    
}
.butt3{
    margin: 20%;
    background-color: lightseagreen;
    color: aliceblue;
    border-radius: 10%;
}
.Deta{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.read{
margin-left: 30%;
color: rgb(15, 135, 183);
top: 20%;
}
.butt4{
    padding:2%;
    background-color:  rgb(15, 135, 183);
    color: aliceblue;
    border-radius: 10%;
}
.butt5{
    padding:2%;
    color:  rgb(15, 135, 183);
    border-radius: 10%;
}
@media (min-width: 600px) and (max-width: 768px) {
    .navs a{
        text-decoration: none;
        margin: 20px;
    }
    .butt1{
        padding: 20%;
    }
    .butt2{
     background-color: lightskyblue;
     color: aliceblue;
     border-radius: 10%;
    }
    .maldives{
     display: flex;
     margin-top: 5%;
     gap: 5px;
    }
    .mald{
        width: 350px;
        /* height: 200px; */
        
    }
    .Entery{
    margin-left: 30%;
    border-radius: 15%;
    }
    .img2{
        width: 200%;
        height: 440px;
    }
    .img1{
        width: 30%;
        height: 100px;
        
    }
    .butt3{
        margin: 20%;
        background-color: lightseagreen;
        color: aliceblue;
        border-radius: 10%;
    }



}

    