 body {

     /* overflow-y: hidden;  */
}
.navs a{
    text-decoration: none;
    margin: 20px;
}
.butt1{
    padding: 20%;
}
.butt2{
 background-color: lightskyblue;
 color: aliceblue;
 border-radius: 10%;
}
.Hotel{
    background-image: url("/Images/wallp1.jpg");
    background-size:cover ;
    height: 600px;
}
.Heading{
    text-align: center;
    margin-top: 15%;
}
#blue{
    color: blue;
}
.berlin{
    border-radius: 100%;
    gap: 20%;
}
#seemore{
background-color: blue;
color: aliceblue;
}
#facy{
    text-align: center;
}
.room{
    text-align: center;
}
.lasata{
    margin-left: 10%;
}
.foods{
  display: grid;
    grid-template-rows:repeat(3,1fr);
    
}
.foods img{
    height: 45%;
    width: 30%;
}

#popular{
    text-align: center;
    font-size: 28px;
}
#seemore{
    position: relative;
    color: rgb(21, 21, 117);
    margin-left: 100px;
    padding: 10px 20px;
    
}
#total{
margin-right: 60%;
}
#sum{
margin-left: 40%;
margin-bottom: 25%;
}
#add{
    margin-left: 40%;
    margin-bottom: 25%;
}

.menu{
    text-align: center;
}
.schedule{
    display: flex;
}
#sched{
margin-left: 20%;
}
#sche{
margin-left: 5%;
}
#dule{
margin-left: 5%;
}
.tryy{
margin-top: -40%;

text-align: center;
} 
.overal{

}
.client{
   justify-content: center;
    display: flex;
    
}

.crit2{
margin-left: 10%;
}
.crit3{
    margin-left: 10%;
}
#peg{
    border-radius: 50%;
}
.hoose{
display: flex;
}
#why{
    text-align: center;
}
.choosy{
    margin-left: 20%;
}
.chose{
    height: 45vh;
    width: 50%; 
 }
#twenty{
margin-left: 0%;
background-color:rgb(5, 76, 104);
color: white;
border-radius: 10%;

}
#fifty{
margin-left: 0%;
background-color:skyblue;
color: white;
border-radius: 10%;
}
#thousa{
margin-left: 0%;
background-color:skyblue;
color: white;
border-radius: 10%;

}
.luxury{
    /* margin-right: 5%; */
}
.lux{
    display: flex;
}
#xury{
    margin-top: 5%;
}
.subsc{
    background-color: rgb(110, 181, 209);
    color: aliceblue;
    border-radius: 150px 150px 0px 0px;
    padding:10px 40px ;
    margin: 2px;
    text-align: center;
}
.papa{
    background-color: aliceblue;
    border-radius: 40px;
    padding: 7px  20px;
    width: 40%;
    position: relative;
    left: 20%;
   
   
    
}
#buyy{
    
    border-radius: 20%;
    background-color: aqua;
}
#barry{
   
    border-radius: 10%; 
    background-color: rgb(7, 245, 245);
    margin-left: 120px;
    
} 
.last{
    display: flex;
}
#learn{
 margin-left: 15%;
}
#resource{
    margin-left: 20%;
}
footer{


}
@media (min-width: 600px) and (max-width: 768px) {
    
    .text2{
        position: relative;
        bottom: 50px; 
        color: white;
        font-size: 20px;
        text-align: center;
        right: 50px;
    }
    .text3{
        position: relative;
        bottom: 50px; 
        text-align: center;
        color: white;
        font-size: 20px;
    }
    .All{
        width: 400px;
        height: 400px;
    }
    .reception{
        border-radius: 120px 10px 120px 10px;
    }
    #cribe{
        padding: 20px 70px;
        border-radius: 20%; 
    } 
    .last{
        display: flex;
        font-size: x-small;
    }
    #learn{
     margin-left:-2%;
    }
    #resource{
        margin-left: -0%;
    }
    footer{

    }
    .subsc{

    }
    .choosy{
        margin-left: 20%;
        font-size: smaller;
    }
    #twenty{
    margin-left: 0%;
    background-color:rgb(5, 76, 104);
    color: white;
    border-radius: 10%;
    
    }
    #fifty{
    margin-left: 0%;
    background-color:skyblue;
    color: white;
    border-radius: 10%;
    }
    #thousa{
    margin-left: 0%;
    background-color:skyblue;
    color: white;
    border-radius: 10%;
    
    }
    .chose{
        height: 50vh;
    width: 50%;  
    }


    }
